*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	list-style: none;
	font-family: 'Montserrat', sans-serif;
}
body{
	background: #585C68;
	line-height: 20px;
	color: #555555;
}
h4{
	font-size: 0.9em;
}
.ensemble{
	width: 800px;
	height: auto;
	display: flex;
	margin: 50px auto;
}
.ensemble .ensemble_gauche{
	width:280px;
	background: #FFAB91;
}
.ensemble .ensemble_gauche .ensemble_photo{
	text-align: center;
}
.ensemble .ensemble_gauche .ensemble_photo img{
	width:150px;
	height:150px;
	border-radius: 200px;
	margin-top: 40px;
	margin-bottom: 40px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.ensemble_item{
	text-align: center;
	background-color: #455A64; 
	color:#FFAB91;
	font-size: 1.2em;
	padding:5px;
}
.contact_item{
	margin: 20px 30px 20px 30px;
	font-size: 0.7em;
}
.contact_item p{
	line-height: 1.5em;
	margin:10px 0px 10px 0px;
}
.text_descript{
	margin:20px 30px 280px 30px;
	font-size: 0.7em;
	text-align: justify;
	line-height: 1.5em;
}
.ensemble_fa{
	display:flex;
	justify-content: center;
}
.fas{
	font-size: 1.8em;
	color:#455A64;
	margin:20px;
}
.ensemble_droit{
	background-color: white;
	width:560px;
}
.ensemble_droit h1{
	font-size: 2.2em;
}
.ensemble_contenu_droit{
	margin: 40px 30px 0px 40px;
}
.ensemble_title{
	margin: 75px 0px 75px 0px;
	width:100%;
	line-height: 2.2em;
}
.ensemble_title h2{
	font-size: 1em;
}
.divide{
	border-bottom: solid 1px #FFAB91;
	}
.divider{
	width:100%;
	height:1px;
	background-color: #FFAB91;
}
.row{
	display: flex;
	margin-top: 25px;
}
.row_date{
	display: inline-flex;
	margin-right: 80px;
	font-size: 0.8em;
	align-items: baseline;
}
.row_descript p{
	font-size: 0.7em;
}
.fa-dot-circle{
	margin-right: 5px;
	color:#FFAB91;
}
.fa-medal{
	font-size: 1em;
	margin:0px 10px 5px 0px;
	color:#FFAB91;
}
.fa-address-book{
	font-size: 1em;
	margin:0px 10px 5px 0px;
	color:#FFAB91;
}
.fa-briefcase{
	font-size: 1em;
	margin:0px 10px 5px 0px;
	color:#FFAB91;
}
.marge{
	margin-top: 30px;
}
.recom{
	display: flex;
	margin-top: 20px;
}
.recom_text{
	font-size: 0.6em;
	line-height: 1.5em;
}
.recom_text:first-child{
	margin-right: 150px;
}
.brian{
	color:#FFAB91;
}
.ensemble_contenu_deux{
	display: none;
}
h3{
	font-size: 1.1em;
}
.fa-vial{
	border: 2px solid #455A64;
	border-radius: 200px 200px 200px 200px;
	padding:4px;
}
.fa-drumstick-bite{
	border: 2px solid #455A64;
	border-radius: 200px 200px 200px 200px;
	padding:4px;
}
.fa-globe-asia{
	border: 2px solid #455A64;
	border-radius: 200px 200px 200px 200px;
	padding:4px;
}
@media screen and (max-width: 1024px){
.ensemble{
	width: 100%;
	height: auto;
	display: block;
	margin-top: 0px;
	margin-bottom: 0px;
}
.ensemble_contenu{
	display: none;
}
.ensemble_contenu_deux{
	display: block;
	background-color: #FFAB91;
}
.ensemble .ensemble_gauche{
	width:100%;
	background: #FFAB91;
}
.ensemble_item{
	text-align: center;
	background-color: #455A64; 
	color:#FFAB91;
	padding:5px;
}
.contact_item{
	font-size: 0.8em;
	text-align: center;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.contact_item p{
	margin:10px 20px 10px 20px;
}
.text_descript{
	margin:20px 30px 20px 30px;
	font-size: 0.8em;
	text-align: justify;
}
.ensemble_fa{
	display:flex;
	justify-content: center;
}

.ensemble_droit{
	background-color: white;
	width:100%;
}
.ensemble_droit h1{
	font-size: 2.5em;
}
.ensemble_contenu_droit{
	margin: 0px 20px 0px 40px;
}
.ensemble_title{
	margin: 0px 0px 75px 0px;
	width:100%;
	line-height: 2.2em;
	padding-top: 75px;
}
.ensemble_title h2{
	font-size: 1.2em;
}
.row{
	display: flex;
	margin-top: 25px;

}
.row_descript p{
	font-size: 0.8em;
}
.marge{
	margin-top: 30px;
}
.recom{
	display: flex;
	margin-top: 40px;
	padding-bottom: 40px;
	justify-content: space-around;
}

}
@media (max-width: 640px){
	*{
		box-sizing: border-box;
	}
	body {
		width: auto;
		margin: 0;
		padding: 0;
	}
	.row{
		display: block;
		text-align: center;
		line-height: 1.7em;
		margin:55px 0px 55px 0px;
	}
	h3{
		text-align: center;
	}
	.ensemble_title{
		text-align: center;
	}
	.row_date{
		text-align: center;
		margin:0px;
	}
	.row_date br{
		display: none;
	}
	.contact_item{
		display: block;
	}
	.recom_text:first-child{
		margin-right: 50px;
	}
	.ensemble_item{
		font-size: 1em;
	}
	.divide{
		border-bottom: solid 1px #FFAB91;
	}
	.ensemble_contenu_droit{
	margin: 0px 20px 0px 20px;
}
}
